# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

cmake-build-debug
resources/*
!resources/*.sh
!resources/*.txt
!resources/test_imgs/
!resources/logs/
!resources/presentation/
resources/vgg.txt
resources/presentation/*.pdf
resources/presentation/*.mov
resources/presentation/*.ppsx

